<?php
// ------------------------------------------
// Menu
global $sessionVar;
if($sessionVar->xmlMenu == "")
$sessionVar->xmlMenu = <<<EndMenu
<menu name="main">
  <entry name="breakBricks" default="true" titlepage="Break Bricks"/>
</menu>
EndMenu;
// ------------------------------------------

?>
