<?php
// ------------------------------------------
// Menu
if(!isset($_SESSION["xmlMenu"]))
$_SESSION["xmlMenu"] = <<<EndMenu
<menu name="main">
  <entry name="breakBricks" default="true">
    <titlePage>Break Bricks</titlePage>
  </entry>
</menu>

EndMenu;
// ------------------------------------------

?>
