body {
  height: 100%;
  width:100%;
  margin: 0px;
  display: block;
}

#game {
  min-width: 340px;
  min-height: 320px;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.Ball {
  top: 0px;
  left: 0px;
  position: absolute;
  color: #000000;
}

.Carriage {
  top: 0px;
  left: 0px;
  position: absolute;
  color: #000000;
}

.Brick {
  top: 0px;
  left: 0px;
  position: absolute;
  color: #000000;
}

.InsideBrick {
  border: 4px solid;
}

TABLE {
  border: 2px solid black;
  font-size: 6;
  background-color: red;
  border-color: black;
}

TD {
  border: 2px solid blue;
}

#cassBriqueMaitre {
  visibility: hidden;
}