body {
  height: 100%;
  width:100%;
  margin: 0px;
  display: block;
}

img {
  margin: 0px;
}

#game {
  min-width: 340px;
  min-height: 320px;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.Ball {
  top: 0px;
  left: 0px;
  position: absolute;
  color: #000000;
}

.Carriage {
  top: 0px;
  left: 0px;
  position: absolute;
  color: #000000;
}

.Brick {
  top: 0px;
  left: 0px;
  position: absolute;
  color: #000000;
  margin: 0px;
  padding: 0px;
  width: 45px;
  height: 25px;
}

.brickImg {
  width: 45px;
  height: 25px;
}

.ballImg {
  width: 16px;
  height: 16px;
  border: 0px none;
}

TABLE {
  border: 2px solid black;
  border-collapse: collapse;
  font-size: smaller;
  background-color: red;
  border-color: black;
}

TD {
  border: 2px solid black;
}

#cassBriqueMaitre {
  visibility: hidden;
}